@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

/* тэг header */
/* .menu {

    display: none;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
} */


.botomm-menu {
    height: 504px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoom-header-left {
    width: 464px;
    display: grid;
    gap: 40px;
}

.botoom-header-left h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;

}

.botoom-header-left p{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    opacity: 0.8;
}

.botoom-header-left input {
    width: 464px;
    height: 48px;
    background: rgba(42, 47, 55, 0.02);
    background-image: url(/img/header/search.svg);

    background-repeat: no-repeat;
    background-position: center right 16px;
    border: 2px solid rgba(42, 47, 55, 0.08)
}

.botoom-header-left input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2A2F37;
    opacity: 0.4;
    padding-left: 16px;
}

.botoom-header-right {
    margin-right: 150px;
}

.img-bm-r {
    width: 350px;
    border-radius: 50px;
}


.bh-1 {
    margin-left: 100px;
}

.nav-nav {
    display: flex;


    min-height: 80px;
    padding-bottom: 10px;
}



.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.img-nav {
    /* display: inline-block; */
    width: 60px;
    height: 60px;


}

.ul-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 20px;
    margin-left: 70px;
}

.nav-flex li {
    float: left;
}

.ul-nav a {
    font-size: 18px;
    margin-right: 25px;
    display: block;

    padding:10px;
    background-color: rgba(255, 192, 203, 0.058);

    border-radius: 20px;
    text-decoration: dashed;
    color: #333;
    text-align: center;

}




.ul-nav a:hover {
    background-color: #6262638c;
}





#org {
    width: 150px;
    padding-right: 20px;
}

.ul-nav#ul2 {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}






/* тэг section */





.mer {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

.mer h1 {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    padding: 0;
    margin-top: 200px;
    border-radius: 60px;
    text-align: center;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    height: 50px;

    color: #000000;
}

.image-fon {
    background-attachment: fixed;
    padding-top: 500px;
    height: 1000px;
    min-height: 500px;
    background-image: url(https://images.unsplash.com/photo-1681731824644-6fde4c89eaeb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    display: none;
    padding-top: 100px;
    height: 250px;
    background-color: #EF6C9A;
    opacity: 0.1;
    font-size: 40px;
}

.container-tape {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-row-gap:48px;
    grid-column-gap:40px;
    padding-top: 32px;
}
.cont-tape {
    border-radius: 20px;
    width: 363px;
    background: #bcbbbb4d;
}

.cont-tape:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.url-tape{
    background-image:url(../img/main/city.png);
    background-repeat: no-repeat;
    height: 200px;

    padding-left: 16px;
    padding-top: 152px;
}






.url-tape a{
    width: 78px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    background: #1E3DAF;

    text-decoration: none;
}

.url-tape a:hover {
    background-color: #061858;
}

.text-tape {
    height: 248px;

}

.text-tape-center {
    padding: 24px 24px;
}

.text-tape-center h5{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #1E3DAF;
}

.description-tape{
    padding-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #2A2F37;
    opacity: 0.8;
}

.price-tape {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #2A2F37;
    padding-top: 40px;
    text-align: right;
}

.description-tape{
    padding-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #2A2F37;
    opacity: 0.8;
}

.price-tape {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #2A2F37;
    padding-top: 40px;
    text-align: right;
}

.date-watch {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #2A2F37;
    opacity: 0.4;
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}

.eye-wach {
    display: flex;
    gap: 9px;
}

.eye-wach p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #2A2F37;
    opacity: 0.4;
}

.ct {
    margin-bottom: 150px;
    margin-left: 85px;
}

.ct-1 {
    border-radius: 20px;
    background-image: url(https://i.pinimg.com/564x/f3/39/e9/f339e9d8fe34c84a6a5451a16d000da4.jpg);

}



.btn-card {
    display: inline-block;
    text-align: center;
    width: 50px;
    background-color: #EF6C9A;
    border-radius: 30px;
}

.const-flex {
    display: flex;
    justify-content: center;
}

.const-mer {
    width: 500px;
    height: 700px;
    margin: 50px;
    border-radius: 50px;
    background: #a19f9f38;
}
.const-mer h1 {
    text-align: center;
    padding-left: 35px;
}




.ul-mer {
    margin-bottom: 40px;
    padding-left: 60px;
    list-style: none;

}
.ul-mer li {
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}
.ul-mer li select {
    margin-left: 20px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    height: 25px;
    padding-left: 4px;
}
.ul-mer li textarea {
    font-size: 18px;
    padding-left: 15px;
    padding-top: 10px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    height: 150px;
    width: 400px;
}

.ul-mer li input {
    margin-left: 10px;
    padding-left: 15px;
    font-size: 18px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    height: 25px;

}


.const-sgup {
    background: #a19f9f38;
    width: 350px;
    height: 470px;
    margin: 50px;
    border-radius: 50px;
}

.h1sgup {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}


.par-const-sgup {
    justify-content: center;
    display: flex;

}

.sgup-e-mail {
    display: flex;
    margin-top: 25px;
    justify-content: center;

}



.sgup-e-mail input {
    border-radius: 15px;
    background-color: #ffffff;
    width: 250px;
    height: 25px;
    text-align: center;
}

.fm-btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

input[type="text"]::placeholder {
    text-align: center;
}
.fm-btn button {
    padding: 5px;
    border-radius: 1000000px;
    background-color: pink;
}

#cs {
    width: 350px;
    height: 300px;
    margin: 50px;
    border-radius: 50px;

}

#cs-mer {
    height: 380px;
}

#fr {
    border-radius: 15px;
}

#btnin {
    width: 150px;
}



/* тэг footer */

footer {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.footer-container {
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-right: 100px;}

.footer-column {
    width: 30%;
}

.footer-heading {
    font-weight: bold;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

form {
    margin-top: 20px;
}

input[type=email] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

button[type=submit] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #0069d9;
}





/* анимации и тд */


/* media */

/* @media (max-width: 700px) {
    .ul-nav {
        display: none;
    }

    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu {
        display: flex;
    }

    .menu > li {
      display: flex;
    }
} */




.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 150px;

}

.navbar-left {
    border-radius: 15px;
    margin-top: 15px;
    display: flex;
    list-style: none;
    margin-left: 50px;
    padding: 0;
}

.navbar-left li {
    padding: 5px;
    border-radius: 15px;
    margin-right: 20px;
}

.navbar-left li:last-child {
    margin-right: 0;
}

.navbar-left a {
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

.navbar-right {
    margin-right: 40px;
    border-radius: 15px;
    font-size: 24px;
    margin-top: 15px;
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar-right li {
    padding: 5px;
    border-radius: 15px;
    margin-left: 20px;
}

.navbar-right li:first-child {
    margin-left: 0;
}

.navbar-right a {
    color: #333;
    text-decoration: none;
}

.navbar-left li:hover {
    background-color: #c1c2c422;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar-right li:hover {
    background-color: #c1c2c422;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.active {
    background-color: #c1c2c422;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.fr-m {
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    border-radius: 16px;
    background-color: #ffffff;
}

/* .fr-m input[type="file"] {

} */

#file-upload-button {
    border-radius: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 16px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.buy-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 15px;
}

.buy-a {
    color: #FFFFFF;
    text-decoration: none;
}


.modal-image {
    border-radius: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.modal-image img {
    max-width: 100%;
    height: auto;
}

.modal-description {
    text-align: center;
}

.modal-description h3 {
    margin-top: 0;
}

.modal-description p {
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-button {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buy-img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.buy-button:hover {
    background-color: #0069d9;
}

.slider {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 16px;
}

.slides {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease;
}

.slide {
    flex: 1;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.prev, .next {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.prev {
    margin-right: 20px;
}

.button {
    text-align: center;
    margin-top: 20px;
}

.button button {
    background-color: pink;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}


/* buy tiket */



.h1-bt {
    text-align: center;
    margin-bottom: 20px;
}

.fm {
    width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.fm label {
    display: block;
    margin-bottom: 10px;
}

.fm input[type="text"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.fm input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.fm input[type="submit"]:hover {
    background-color: #3e8e41;
}

#error {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}


.bt-main {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.price {
    margin-bottom: 20px;
}

.file-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.file-upload input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.file-upload__button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0d00ff7d;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}
